<div class="mdl-card__title">
  <mp-search-box class="mp-search-box"
                 (changed)="updateSearch($event)"></mp-search-box>
  <button class="pull-right"
          mdl-button
          (click)="close()"
          mdl-button-type="icon">
    <mdl-icon>close</mdl-icon>
  </button>
</div>
<ul class="mdl-list mdl-navigation">
  <li *ngFor="let stock of (searchState.data$ | async)"
      class="mdl_list__item mdl-list__item--two-line"
      (click)="add(stock)">
      <span class="mdl-list__item-primary-content">
       <span class="mdl-color-text--black">{{stock.symbol}} - {{stock.name}}</span>
       <span class="mdl-list__item-sub-title">{{stock.typeDisp}} - {{stock.exchDisp}}</span>
     </span>
  </li>
</ul>

