<div class="mdl-card__title mdl-card--border">
  <h4>News</h4>
  <button *ngIf="notificationType === 0"
          class="pull-right mp-settings"
          mdl-button
          #btn1="mdlButton"
          (click)="mdlMenu.toggle($event, btn1)"
          mdl-button-type="icon">
    <mdl-icon title="More settings">more_vert</mdl-icon>
  </button>
  <mdl-menu #mdlMenu
            mdl-menu-position="bottom-right">
    <mdl-menu-item (click)="reload()">Reload</mdl-menu-item>
  </mdl-menu>
</div>
<div class="mdl-card__supporting-text">
  <mp-notification *ngIf="notificationType > 0"
                   [type]="notificationType"
                   [value]="notification"
                   [button]="button"
                   (action)="notificationAction($event)"></mp-notification>
  <ul *ngIf="notificationType === 0"
      class="mdl-list">
    <li *ngFor="let article of news"
        class="mdl_list__item mdl-list__item--two-line">
      <a [href]="article.url"
         target="_blank">
        <div class="mdl-list__item-primary-content">
          <div class="mdl-list__item-sub-title" [innerHTML]="article.source"></div>
          <div class="mp-main mdl-color-text--black">
            <b [innerHTML]="article.title"></b>
          </div>
          <img *ngIf="article.image"
               [src]="article.image">

          <div class="mdl-list__item-sub-title mdl-color-text--black">
            {{article.date}}
            <mdl-icon class="pull-right" title="Read More">launch</mdl-icon>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
