<div class="mdl-card__title mdl-card--border">
  <h4>News</h4>
</div>
<div class="mdl-card__supporting-text">
  <ul class="mdl-list">
    <li *ngFor="let article of (newsState.data$ | async)"
        class="mdl_list__item mdl-list__item--two-line">
      <a [href]="article.url"
         target="_blank">
        <div class="mdl-list__item-primary-content">
          <div class="mdl-list__item-sub-title">{{article.source}}</div>
          <div class="mp-main mdl-color-text--black" [innerHTML]="article.title"></div>
          <img *ngIf="article.image"
               [src]="article.image">
          <div class="mdl-list__item-sub-title">
           {{article.date}}
           <mdl-icon class="pull-right" title="Read More">launch</mdl-icon>
          </div>
       </div>
      </a>
    </li>
  </ul>
</div>
