@import '../../../../scss/variables';

.mp-edit.mdl-card__title {
  h4 {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}

.mdl-navigation__link.mp-edit-item:hover {
  background: inherit;
}

.mdl-navigation__link.mp-edit-item {
  .material-icons {
    line-height: 42px;
  }

  .material-icons.pull-right {
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: move;
  }

  .mp-text {
    padding: 0 35px;
  }

  .mp-tab,
  .mp-delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: $padding-item;
    height: 40px;
  }

  .mp-tab {
    background: white;
    width: calc(100% - 20px);
    left: 0;
  }

  .mp-tab.mp-active {
    transform: translateX(-59px);
  }

  .mp-delete {
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
}
