:host {
  .mdl-navigation__link:hover {
    background: inherit;
  }

  .mdl-navigation__link {
    .material-icons {
      line-height: 42px;
      color: #ef172f;
    }

    .text {
      padding: 0 35px;
    }

    .tab,
    .delete {
      position: absolute;
      right: 0;
      top: 0;
      padding: 8px 15px;
      height: 40px;
    }

    .tab {
      background: white;
      width: calc(100% - 30px);
      left: 0;
      transition: 0.3s ease-out;
    }

    .tab.active {
      transform: translateX(-69px);
    }

    .delete {
      background: #ef172f;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
