:host {
  .mdl-navigation__link {
    .prices {
      position: absolute;
      right: 15px;
    }

    .pill {
      background: #ef172f;
      height: 30px;
      width: 80px;
      line-height: 30px;
      text-align: center;
      margin: 5px 0 0 10px;
      color: white;
    }

    .pill.green {
      background: #17c566;
    }
  }

  .mdl-navigation__link:hover,
  .mdl-navigation__link.active {
    background: #f3f9fe;
  }
}
