@import './variables';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-width: $min-width;
}

b, strong {
  font-weight: 500;
}

h4,
p {
  margin: 0;
  font-size: $font-size-medium;
}

a,
.material-icons {
  cursor: pointer;
}

a,
a:link,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: $color-link;
  font-weight: 400;
}

input {
  outline: none;
}

.mp-small-font {
  font-size: $font-size-small;
  margin-top: -6px;
}

.pull-left {
  float: left;
  margin-right: auto;
}

.pull-right {
  float: right;
  margin-left: auto;
}

.mp-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mp-transition {
  transition: all 0.3s;
}

.mp-highlight {
  padding: 4px;
}

.mp-slide-fade.mp-hide {
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.gu-mirror {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mp-nowrap {
  white-space: nowrap;
}

button {
  span,
  .material-icons {
    pointer-events: none;
  }
}
