@import './colors';

$font-size-small: 0.9rem;
$font-size-medium: 1.15rem;

$border: 1px solid $color-border;

$padding: 10px;
$padding-panel: 16px;
$padding-item: 5px 10px;

$height-item: 30px;
$min-width: 320px;
