<div class="mdl-card__title mdl-card--border">
  <h4>Title</h4>
</div>
<div class="mdl-card__supporting-text mdl-color-text--grey-600">
  <div id="legend"></div>
  <svg class="mp-chart" id='time-series'>
    <defs>
      <linearGradient id="area-gradient"
                      x1="0%" y1="0%"
                      x2="0%" y2="100%">
        <stop offset="0%" stop-opacity="0.3" stop-color="#fff" />
        <stop offset="100%" stop-opacity="0" stop-color="#1a9af9" />
      </linearGradient>
    </defs>
  </svg>
</div>
