.mp-chart {
  h4 {
    .mp-price {
      margin: 0 5px;
    }
  }

  .mdl-card__supporting-text {
    padding: 0;
    height: calc(100% - 44px);
    width: 100%;

    .mp-container {
      position: relative;
      height: 100%;
    }

    .mdl-tabs__tab-bar {
      height: auto;
      .mdl-tabs__tab {
        height: 30px;
        line-height: 30px;
      }
    }
  }
}
