<div class="mdl-card__title mdl-card--border">
  <h4 *ngIf="!stock.symbol">Chart</h4>
  <h4 *ngIf="stock.symbol">
    <span>{{stock.name}} ({{stock.symbol}})</span>
    <b class="mp-price">{{stock.price}}</b>
    <span [ngClass]="stock.change >= 0 ? 'mdl-color-text--green-A700' : 'mdl-color-text--red'">{{stock.change}} ({{stock.percentage}})</span>
  </h4>
</div>
<div class="mdl-card__supporting-text">
  <mdl-tabs mdl-ripple
            mdl-tab-active-index="{{rangeIndex}}"
            (mdl-tab-active-changed)="tabChanged($event.index)">
    <mdl-tab-panel *ngFor="let item of ranges"
                   mdl-tab-panel-title="{{item.text}}"></mdl-tab-panel>
  </mdl-tabs>
  <div class="mp-container">
    <mp-notification *ngIf="notificationType > 0"
                     class="mp-cover"
                     [type]="notificationType"
                     [value]="notification"
                     [button]="button"
                     (action)="notificationAction($event)"></mp-notification>
    <mp-d3fc></mp-d3fc>
  </div>
</div>
