<span [ngSwitch]="type">
  <p *ngSwitchCase="1">
    <b>{{value}}</b>
  </p>
  <p *ngSwitchCase="2"
     class="mdl-color-text--red">
    <b>{{value}}</b>
  </p>
  <button *ngIf="button"
          mdl-button
          mdl-button-type="raised"
          mdl-colored="primary"
          mdl-ripple
          (click)="buttonClick()">
    <mdl-icon>{{button.icon}}</mdl-icon>
    {{button.text}}
  </button>
  <div *ngSwitchCase="3"
       class="mp-loader">
    <div class="mp-bounce1"></div>
    <div class="mp-bounce2"></div>
    <div class="mp-bounce3"></div>
  </div>
</span>
