.mdl-layout__header {
  min-height: 50px;
}

.mdl-layout__header-row {
  height: 50px;
  padding-left: 10px;

  .mp-close {
    display: none;
    font-size: 3rem;
    margin-left: -10px;
  }

  .mp-search-box {
    border: none !important;
    background: rgba(255, 255, 255, 0.16);
    width: 300px;
  }

  .mp-search-box.inactive {
    background: rgba(255, 255, 255, 0.16);
    .material-icons,
    input,
    input::-webkit-input-placeholder {
      color: rgba(255,255,255,0.7) !important;
    }
  }

  @media (max-width: 720px) {
    .mp-close {
      display: initial;
    }
  }
}

.mdl-layout__drawer-button {
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 3px;
}

.mdl-layout-title {
  margin-right: 15px;
}
