.mdl-layout__header {
  min-height: 40px;
  box-shadow: none;
}

.mdl-layout__header-row {
  height: 40px;
  padding-left: 15px;
}

.mdl-layout__drawer-button {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: 3px;
}
