body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-width: 320px;
}

.mdl-layout__container {
  min-width: 320px;
}

.pull-left {
  float: left;
  margin-right: auto;
}

.pull-right {
  float: right;
  margin-left: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

b, strong {
  font-weight: 500;
}

h4,
p {
  margin: 0;
}

h4,
p {
  font-size: 1.15rem;
}

a,
.material-icons {
  cursor: pointer;
}

a,
a:link,
a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: #2196f3;
  font-weight: 400;
}

input {
  outline: none;
}

.mdl-menu {
  padding: 0;
  min-width: auto;

  .mdl-menu__item {
    height: 30px;
    line-height: 30px;
  }
}

.mdl-card__title {
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  h4 {
    line-height: 1.1;
  }
}

.mdl-card__supporting-text {
  width: 100%;
  height: calc(100% - 38px);
  color: black;
  padding: 0;
}

.mdl-cell {
  float: left;
}

.mdl-grid {
  padding: 0;
}

.mdl-list {
  padding: 0;
  margin: 0;
  .mdl-list__item {
    padding: 5px;
    min-height: inherit;
  }
  .mdl-list__item--two-line {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 10px;
    height: auto;
    cursor: pointer;
    .mdl-list__item-primary-content {
      height: auto;
      .mdl-list__item-sub-title {
        font-size: 0.85rem;
        .material-icons {
          font-size: 1.15rem;
          margin-top: 1px;
        }
      }
    }
  }

  .mdl-list__item--two-line:hover {
    background: #f3f9fe;
  }
}

.mp-transition,
.slide-fade {
  transition: all 0.3s;
}

.mp-highlight {
  padding: 4px;
}

.slide-fade.hide {
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.gu-mirror {
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mp-small-font {
  font-size: 0.85rem;
  margin-top: -6px;
}

.mp-nowrap {
  white-space: nowrap;
}

.mp-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  display: table;
  .mp-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.mp-cover.mp-loaded {
  display: none;
}

.loader {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
