@import '../../scss/variables';

:host {
  .mdl-layout__drawer {
    transform: translateX(0);
    width: $min-width;
    background: white;
    overflow: hidden;
  }

  .mdl-layout__content {
    margin-left: $min-width;
    height: 100%;
    padding: 5px;
  }

  @media (max-width: 720px) {
    .mdl-layout__content {
      margin-left: 0;
    }
    .mdl-layout__drawer {
      width: 100%;
    }

    .mdl-layout__drawer.mp-inactive {
      transform: translateX(-100%);
    }
  }
}
