$sidebarWidth: 330px;

:host {
  .mdl-layout__drawer {
    transform: translateX(0);
    width: $sidebarWidth;
    background: white;
    overflow: hidden;
  }

  .mdl-layout__content {
    margin-left: $sidebarWidth;
    height: 100%;
    padding: 5px;
  }
}
