$blue: #1A9AF9;
$gray: #444;

.mp-chart {
  width: calc(100% - 40px);
  height: 100%;
  overflow: visible !important;

  svg {
    overflow: visible;
    display: block;
  }

  path.area {
    fill: url(#area-gradient);
    fill-opacity: 1;
  }

  path.line {
    stroke: $blue;
  }

  .x-axis text {
    font-weight: bold;
  }

  .background {
    opacity: 0.7;
    stroke: #FFF;
    fill: #FFF;
  }

  .plot-area {
    overflow: visible;
  }

  .plot-area > g > g.y:last-child,
  .y-axis > g.tick:nth-last-child(2) {
    display: none;
  }

  .annotation.close line {
    display: none;
  }

  .annotation text {
    fill: white;
  }

  .annotation.close path {
    fill: $blue;
  }

  .gridline,
  .axis .domain,
  .axis .tick line {
    stroke: #DDD;
  }

  .label {
    color: black;
    text-align: right;
    display: inline-block;
  }

  .value {
    margin-right: 10px;
  }

  .crosshair .callout path,
  .crosshair .callout rect,
  .crosshair .trackball circle {
    fill: $gray;
  }

  .crosshair line {
    stroke: $gray;
    stroke-dasharray: 3, 3;
  }

  .crosshair .bottom-handle text {
    text-anchor: middle;
    dominant-baseline: central;
  }

  .axis text,
  .annotation text {
    font-size: 11px;
    font-family: inherit;
    font-weight: 700;
  }

  .axis .domain {
    stroke-opacity: 0;
  }
}
