$blue: #1A9AF9;
$gray: #444;

.mp-chart {
  width: calc(100% - 40px);
  height: 100%;
  overflow: visible !important;

  svg {
    overflow: visible;
    display: block;
  }

  path.area {
    fill: url(#area-gradient);
    fill-opacity: 1;
  }

  path.line {
    stroke: $blue;
  }

  .x-axis text {
    font-weight: bold;
  }

  .background {
    opacity: 0.7;
  }

  .plot-area {
    overflow: visible;
  }

  .annotation.close line {
    display: none;
  }

  .annotation text {
    fill: white;
  }

  .annotation.close path {
    fill: $blue;
  }

  .label {
    color: black;
    text-align: right;
    display: inline-block;
  }

  .value {
    margin-right: 10px;
  }

  .crosshair .callout path,
  .crosshair .callout rect,
  .crosshair .trackball circle {
    fill: $gray;
  }

  .crosshair line {
    stroke: $gray;
    stroke-dasharray: 3, 3;
  }

  .crosshair .bottom-handle text {
    text-anchor: middle;
    dominant-baseline: central;
  }
}

.legend {
  position: absolute;
  border-color: #e5e5e5;
  background: rgba(255, 255, 255, 0.85);
  margin: 15px;
  font-size: 0.9rem;
  th {
    padding: 2px 5px 2px 10px;
    text-align: right;
    color: #999;
  }

  td {
    padding: 2px 10px 2px 5px;
    color: black;
  }
}
