:host {
  .mdl-navigation__link {
    cursor: pointer;

    .prices {
      position: absolute;
      right: 10px;
      b {
        padding: 0 4px;
      }
    }

    .text {
      width: 130px;
    }

    .pill {
      height: 30px;
      width: 80px;
      line-height: 30px;
      text-align: center;
      margin: 5px 0 0 10px;
      color: white;
    }
  }

  .mdl-navigation__link:hover,
  .mdl-navigation__link.active {
    background: #f3f9fe;
  }

  .mp-empty {
    margin: 10px;
    text-align: center;
    button {
      padding-left: 10px;
      margin-top: 10px;
    }
  }



  @media (max-width: 720px) {
    .mdl-navigation__link:hover,
    .mdl-navigation__link.active {
      background: white;
    }
  }
}
