<div class="mdl-card__title">
  <h4 class="pull-left">Favorites</h4>
  <button class="pull-right"
          mdl-button
          #btn1="mdlButton"
          (click)="m1.toggle($event, btn1)"
          mdl-button-type="icon">
    <mdl-icon>more_vert</mdl-icon>
  </button>
  <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
    <mdl-menu-item (click)="edit()"
                   *ngIf="favorites?.length !== 0">Edit List</mdl-menu-item>
    <mdl-menu-item (click)="add()">Add Symbol</mdl-menu-item>
  </mdl-menu>
</div>
<mp-notification *ngIf="notificationType !== 0"
                 [type]="notificationType"
                 [value]="notification"></mp-notification>
<span *ngIf="notificationType === 0">
  <div *ngIf="favorites?.length === 0"
       class="mp-empty">
    <p>Your favorites is empty!</p>
    <button mdl-button
            mdl-button-type="raised"
            mdl-colored="primary"
            mdl-ripple
            (click)="add()">
      <mdl-icon>add</mdl-icon> Add symbol
    </button>
  </div>
  <ul *ngIf="favorites?.length !== 0"
      class="mdl-navigation">
    <li *ngFor="let stock of favorites"
        class="mdl-navigation__link"
        [ngClass]="{active: (watchlistState.stockSymbol$ | async) === stock.symbol}"
        (click)="select(stock)">
      <div class="pull-left text">
        <p><b>{{stock.symbol}}</b></p>
        <p class="small truncate">{{stock.name}}</p>
      </div>

      <div class="prices">
        <b class="pull-left">{{stock.price}}</b>
        <div class="pill pull-left"
             [ngClass]="stock.change >= 0 ? 'mdl-color--green-A700' : 'mdl-color--red'"
             (click)="togglePill()">
          {{stock[pillType]}}
        </div>
      </div>
    </li>
  </ul>
</span>

