body {
  font-family:"Roboto","Helvetica","Arial",sans-serif;
}

.pull-left {
  float: left;
  margin-right: auto;
}

.pull-right {
  float: right;
  margin-left: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

b, strong {
  font-weight: 500;
}

h4,
p {
  margin: 0;
}


h4,
p,
b,
span {
  font-size: 1.15rem;
}

.mdl-menu {
  padding: 0;
  min-width: auto;

  .mdl-menu__item {
    height: 30px;
    line-height: 30px;
  }
}

.mdl-card__title {
  padding: 8px 15px;
  background: #f8f8f8;
}

.mdl-card__supporting-text {
  width: calc(100% - 32px);
}

.mdl-cell {
  margin: 0;
  float: left;
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.mdl-cell--9-col, .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
  width: 75%;
}

.mdl-cell--3-col, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
  width: 25%;
}
