body {
  font-family:"Roboto","Helvetica","Arial",sans-serif;
}

.pull-left {
  float: left;
  margin-right: auto;
}

.pull-right {
  float: right;
  margin-left: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

b, strong {
  font-weight: 500;
}

h4,
p {
  margin: 0;
}


h4,
p,
b,
span {
  font-size: 1.15rem;
}

.mdl-menu {
  padding: 0;
  min-width: auto;

  .mdl-menu__item {
    height: 30px;
    line-height: 30px;
  }
}

.mdl-card__title {
  padding: 8px 15px;

  h4 {
    line-height: 1.1;
  }
}

.mdl-card__supporting-text {
  width: calc(100% - 32px);
  height: calc(100% - 49px - 32px);
}

.mdl-cell {
  float: left;
}
